<nav class="navbar navbar-default navbar-sticky">

	<div class="container-fluid">


		 <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_admin')}}">Admin</a></li>

                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_tools')}}">Tools</a></li>
                    				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home')}}">
						mon compte
					</a>
				</li>
                    
                    
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_user_index')}}">gestion des membres</a></li>

                    <li class="nav-item"><a class="nav-link" href="{{ path('app_livre')}}"> gestion des livres</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_categorie')}}"> gestion des categories </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Comptabilité </a></li>       
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout')}}"> Logout </a></li>

          </ul>
        </div>
		<!--/.nav-collapse -->
	</div>
</nav>

