{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}

        <div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">	
                    <h1>Liste des Articles</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>noms</th>
                                <th>Prenoms</th>
                                <th>Adresse</th>
                                <th>Mails</th> 
                                <th>Tel.</th>
                                <th>Action</th>
                            </tr>
                        </thead>


                        <tbody>
                            {% for user in users %}
                                <tr>
                                     <td>{{ user.id }}</td>
                                        <td>{{ user.noms }}</td>
                                        <td>{{ user.prenoms }}</td>
                                        <td>{{ user.adresse }}</td>
                                        <td>{{ user.mail}}</td>
                                        <td>{{ user.phone}}</td>
                                    <td> 

                                    
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun article pour lemoment !</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                  
                </div>
            </div>
            
        </article>

        
    </div>



{% endblock%}
                        
                        
                        
                        
          